body {
  width: 100vw;
  height: 100vh;
  margin: 0;
  background-image: url("Images/JAPANESEBACKROUND.png");
  display: block;
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: 100% 100%;
  /*  overflow: hidden;*/
}

body {
  height: 100vh;
  width: 100vw;
  margin: 0;
  display: block;
}

/* NOTE: You need to make your images smaller! */
/* https://www.w3schools.com/css/css3_images.asp */
img {
  max-height: 90%;
  max-width: 90%;
}

.row1 {
  height: 20%;
  width: 100%;
  display: flex;
}
.box1 {
  height: 100%;
  width: 20%;
}
.box2 {
  height: 100%;
  width: 20%;
}
.row2 {
  height: 20%;
  width: 100%;
}
.row3 {
  height: 20%;
  width: 100%;
  display: flex;
}
.row4 {
  height: 29.6%;
  width: 100%;
  display: flex;
}
.row5 {
  height: 10%;
  width: 100%;
}
/* divide up your page */
.column {
  height: 100%;
  width: calc(100% / 2);
}
.photoalbum {
  height: 50%;
  width: 100%;
}
.bottom {
  height: 10%;
  width: 100%;
  display: flex;
}
.smol-box {
  height: 100%;
  width: 10%;
}
/* control your content */
.center-content {
  justify-content: center;
  align-items: center;
  display: flex;
}

.yellow {
  background-color: #b4d10e;
}

.green {
  background-color: #0ed13f;
}

.red {
  background-color: #f01111;
}
.blue {
  background-color: #3409a8;
}
.purple {
  background-color: #4b0866;
}
.yellow {
  background-color: #c8d605;
}
.orange {
  background-color: #ff9900;
}
.light {
  background-color: #3a3939;
}
@media only screen and (max-width: 900px) {
  .grey {
    background-color: #181818;
  }
}

.row {
  height: 25%;
  width: 100%;
  display: flex;
}

.box {
  height: 80%;
  width: 25%;
}

.bottom {
  height: 100%;
  width: 100%;
  display: flex;
}
.smol-box {
  height: 100%;
  width: 8%;
  border: 2px groove rgb(255, 255, 255);
  padding: 0.2px;
}
.smol-box1 {
  height: 100%;
  width: 8%;
}
.center {
  justify-content: left;
  align-items: center;
  display: flex;
}
.center2 {
  justify-content: center;
  align-items: center;
  display: flex;
}

/* Add a modal pop-up window */
/* https://en.wikipedia.org/wiki/Modal_window */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  background-color: #1c1c1c;
  opacity: 1;
}

/* Don't cover the entire screen */
.modal-body {
  width: 80%;
  height: 70%;
  background-color: black;
  opacity: 1;
  margin: 0;
  display: flex;
}
.modal-split {
  width: 50%;
  height: 100%;
}

/* The Close Button */
.close {
  color: #aaaaaa;
  position: fixed;
  top: 1%;
  right: 1%;
  font-size: 50px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
/* Modal container */
.new-modal {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(28, 28, 28, 0.95);
  z-index: 10000;
  visibility: visible; /* visible by default */
  opacity: 1; /* fully opaque by default */
  transition: opacity 0.3s ease, visibility 0.3s ease;
}

/* Modal body */
.new-modal-body {
  background-color: rgba(0, 0, 0, 0.95);
  color: #fff;
  padding: 24px;
  border-radius: 8px;
  max-width: 900px;
  width: 80%;
  text-align: center;
  box-sizing: border-box;
}

/* Close button */
.new-close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 50px;
  color: #ccc;
  background: transparent;
  border: none;
  cursor: pointer;
  z-index: 10001;
}

.new-close:hover {
  color: white;
}

/* Show/hide toggle */
.new-modal.show {
  visibility: visible;
  opacity: 1;
}

.new-modal.hide {
  visibility: hidden;
  opacity: 0;
}
